<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>META page</title>
  <script>
    function postWithCookie() {
      const gebDomain = 'http://localhost:3000'
      fetch(gebDomain + '/callback', {credentials:"include", body: new URLSearchParams({metaData: 'postWithCookie'}), method:'POST'})
        .then(res=> res.text())
        .then(()=>{
          location.href = gebDomain + '/postwithcookie'
        }) 
    }      

    function postWithCookieAndMetaKey() {
      const gebDomain = 'http://localhost:3000'
      const metaKey = new URL(location.href).searchParams.get('metaKey')
      fetch(gebDomain + '/callbackWithMetaKey', { body: new URLSearchParams({metaData: 'postWithCookieAndMetaKey', metaKey }), method:'POST'})
        .then(res=> res.text())
        .then(()=>{
          location.href = gebDomain + '/postWithCookieAndMetaKey'
        }) 
    } 
  </script>
</head>
<body>
  <h1>This is Family service page.</h1>
  <button onclick="postWithCookie()">
  <h1>
    postWithCookie
  </h1>
  </button>

  <form method="POST" action="http://localhost:3000/formpost">
    <input type="text" name="metaData" value="formpost" hidden>
    <button type="submit"><h1>submit form post</h1></button>
  </form>

  <button onclick="postWithCookieAndMetaKey()">
    <h1>
      postWithCookieAndMetaKey
    </h1>
    </button>
  <hr>
  <a href="http://localhost:3000/">Restart From GEB Home page</a>
</body>
</html>