<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POLL</title>
</head>
<body>
  <h1>
  This is GEB poll page, the callback meta is:
  </h1>
  <h2>
    <%= metaData %> 
  </h2>
  <a href="http://localhost:3333">Travel meta page</a>
</body>
</html>