<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POLL</title>
</head>
<body>
  <h1>
  This is GEB poll page, the callback meta is:
  </h1>
  <h2>
    MetaDATA: <%= metaData %> 
  </h2>
  <h2>
    isLogin: <%= isLogin %>
  </h2>
  <a href="http://127.0.0.1:3333">Travel meta page</a>
  <hr>
  <% if (typeof metaKey !== 'undefined') { %>
  <a href="http://127.0.0.1:3333?metaKey=<%= metaKey %>">Travel meta page with Meta Key</a>
  <% } %>
  <hr>
  <a href="http://localhost:3000/">Restart From Home page</a>

</body>
</html>